<header>
	<div id ="title" class="container-fluid">
		<div class="col-md-5 col-md-offset-1 col-xs-12" id="words">
			<h1>A little bit </br> becomes a lot</h1>
			<p class="lead">Choose your favorite charity. Donate just a dollar in bitcoin every month. We'll convert your bitcoins for you. Contributing to society has never been easier.</p>
			<p><div id="buttonlink"><button type="button" class="btn btn-lg"><a href="/users/sign_up">Sign Up Today</a></button></div></p>
		</div>
		<div class="col-md-6 col-xs-12 video-container">
			<iframe width="560" height="315" src="//www.youtube.com/embed/Um63OQz3bjo?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</header>
<section>
	<div class ="container-fluid grey" id="top">
		<div class="col-md-4 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body"> 
						<h3>No Extra Fees</h3>
						<p>By donating with bitcoin, nonprofit organizations are able to accept donations without paying a credit card fee. 100% of your donation will go towards helping the charity of your choice.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
						<h3>Everything Counts</h3>
						<p>We believe that every cent can make a difference. You can start by donating just $1 per month.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
						<h3>It's Simple</h3>
						<p>GiveBit makes it easy for you to give back to society. You can subscribe to donate to your favorite charity every month.<p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid grey">
		<div class="row">
			<h1>Let us help you make a difference.</h1>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid grey">
		<div class="col-md-2 col-md-offset-2 col-xs-4 thumbnail box-shadow">
			<a href="#"><%= image_tag "watsi.png" %></a>
		</div>
		<div class="col-md-2 col-md-offset-1 col-xs-4 thumbnail">
			<a href="#"><%= image_tag "redcross.jpg" %></a>
		</div>
		<div class="col-md-2 col-md-offset-1 col-xs-4 thumbnail">
			<a href="#"><%= image_tag "cancer.jpg" %></a>
		</div>
		<div class="col-md-12">
			<p>These are the charities we currently support. We would love to add more charities in the future!</p>
		</div>
	</div>
</section>