	<head>
		<title>Bitcoin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Roboto:bold" rel="stylesheet" type="text/css">
		<link href = "home.css.scss" rel="stylesheet">
	</head>
	<body>
		<div id ="title" class="container-fluid">
			<h1 class="lead">BitCharity</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellent</p>
			<div id="buttonlink"><button type="button" class="btn btn-lg"><a href="#">Sign Up Today</a></button></div>
		</div>
	</body>
