<div id ="title" class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h1 class="lead">BitCharity</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<p class="lead">Donate just a dollar in bitcoin every month. We'll convert your bitcoins and donate it onto a nonprofit organizations of your choice. Contributing to society has never been easier.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<p><div id="buttonlink"><button type="button" class="btn btn-lg"><a href="/users/sign_up">Sign Up Today</a></button></div></p>
		</div>
	</div>
</div>
