<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- Nav tabs category -->

            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
                <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">

                        <!-- How can I trust you? -->
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                    <h4 class="panel-title">
                                        Can I trust you?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    GiveBit will post proof of donation after every month's donation as long as the minimum threshold for a cash donation is met. Because we are dealing with micro transactions of around $1 or less, there is not much risk for you to incur and no motivation for us to steal your bitcoins. </br></br> GiveBit is a side project by a couple motivated people inspired by Chase Adams' talk about Watsi at Startup School (http://www.youtube.com/watch?v=WlT3UhC7NwQ). The website hosting, development, and transactional costs may very well add up to more than we receive in donations, but it was never our intention to make any money off of this project.
                                </div>
                            </div>
                        </div>

                        <!-- How will you donate to the charities? -->
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                    <h4 class="panel-title">
                                        How will you donate to the charities?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    At the end of the month, we will count how many bitcoins have been donated to each charity, and cash them out at the current coinbase exchange rate, then issue a cash donation to the respective charities in USD. At this time, GiveBit will be covering all the fees for exchange from BTC to USD. For charities that accept bitcoin as a method of donation, we can simply transfer them bitcoins at no transactional cost.
                                </div>
                            </div>
                        </div>

                        <!-- Will you be adding more charities? -->
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                    <h4 class="panel-title">
                                        Will you be adding more charities?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We would love to sponsor more charities one day! As more people donate and it becomes more feasible to surpass the donation treshold for our current charities, we will give our donors the option to pick new charities to add.
                                </div>
                            </div>
                        </div>

                        <!-- How can I contact you guys? -->
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                                    <h4 class="panel-title">
                                        How can I contact you guys?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                  Send us an email at contact@givebit.org. We'll try to respond in a timely matter.
                                </div>
                            </div>
                        </div>

                          <!-- Who are you guys? -->
                          <div class="panel panel-default panel-faq">
                              <div class="panel-heading">
                                  <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-5">
                                      <h4 class="panel-title">
                                          Who are you guys?
                                          <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                      </h4>
                                  </a>
                              </div>
                              <div id="faq-cat-1-sub-5" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    GiveBit is the brainchild of Tiffany Hwang and Justin Huang (https://www.linkedin.com/in/rawrjustin)
                                  </div>
                              </div>
                          </div>

                          <!-- Can I donate to you guys? -->
                          <div class="panel panel-default panel-faq">
                              <div class="panel-heading">
                                  <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-6">
                                      <h4 class="panel-title">
                                          Can I donate to you guys?
                                          <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                      </h4>
                                  </a>
                              </div>
                              <div id="faq-cat-1-sub-6" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    We would love donations to help keep the website running! Send BTC here: 1QEYwRiNTPHY5bCsLL3PxmW2U2bnT919rH
                                  </div>
                              </div>
                          </div>

                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
