body {

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		color: #7a7a7a !important;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
#title {
	margin:auto;
	padding-top:10%;
	text-align:center;

	h1 {
		font-size:50px;
	}

	p {
		font-size:20px;
		padding-top:10px;
		margin: 0 auto;
		color:#7a7a7a !important;
	}

	#buttonlink {
		margin: 0 auto;

		button {

			a {
				color:white !important;
				font-size:18px;
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				
				&:hover {
					text-decoration:none;
				}
			}
			background-color:#c1a2de;
		}
	}
}
padding-bottom:50px;
}

.grey {
	padding-top:20px;
	margin-left:0px;
	text-align:center;
	background-color:#7a7a7a;
	color: white !important;
	h2, h3 {
		color: white !important;
	}
	div {
		display:block;
	}
	.row {
		padding-bottom:30px;
	}
	
	&:last-child {
		padding-bottom:30px;
	}
}
