h1, h2, h3, h4, h5, h6 {
		font-family: 'Helvetica', serif;
}


#title {
	margin:auto;
	padding-top:150px;
	text-align:center;

	h1 {
		font-size:60px;
		color:black !important;
	}

	p {
		font-size:20px;
		padding-top:10px;
		padding-left:200px;
		padding-right:200px;
		color:#2e2e2e !important;
	}

	#buttonlink {
		padding-right:100px;
		padding-left:100px;

		button {
<<<<<<< HEAD
			
			a {
				font-size:20px;
				font-style: helvetica;
				
=======
			background-color:#b19cd9;

			a {
				color:white !important;
				font-size:18px;
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

>>>>>>> upstream/master
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
}
